.contactInfo h1{
    color: #9D4C3C;
    font-size: 1.8vw;
    text-align: center;
}

.contactInfo h2 span{
    color: #445659;
    font-weight: bold;
}

.contactInfo h2{
    color: #75624B;
    font-weight: normal;
    font-size: 1.1vw;
    text-align: center;
}