.text {
  position: relative;
  text-align: center;
}

h1 {
  color: #9D4C3C;
}

span {
  color: #445659;
  font-weight: bold;
}

p {
  color: #75624B;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 20px;
  }

  span {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  img {
    width: 70%;
  }
}

@media screen and (max-width: 801px) {
  h1 {
    font-size: 18px;
  }

  span {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  img {
    width: 90%;
  }
}