li span {
    color: #75624B;
    font-weight: normal;
    padding-left: 1.1vw;
    background-color: white;
}

figcaption {
    color: #75624B;
    display: block;
    margin-bottom: 0.7vw;
    text-align: center;
  }

body {
    text-align: center;
}

.wrapper {
    display: inline-block;
    margin-bottom: 2.7vw;
}

.menuContainer ul {
    background-color: white;
    list-style-type: none;
}

img {
    text-align: right;
}

.menuContainer li {
    display: block;
    color: #9D4C3C;
    font-weight: bold;
    clear: left;
    margin-bottom: 0.7vw;
}

.menuContainer span {
    background-color: white;
}

.menuContainer h1 {
    font-size: 2.2vw;
    color: #9D4C3C;
}

.menuContainer h2 {
    font-size: 2.2vw;
    color: #445659;
}

.beverages h3 {
    font-size: 2vw;
    color: #9D4C3C;
    font-weight: bold;
}

.beverages ul li {
    font-size: 2vw;
    color: #75624B;
    font-weight: normal;
}

@media screen and (min-width: 800px) {
    .wrapper li {
        font-size: 16px;
    }

    .wrapper li span {
        font-size: 16px;
    }

    .beverages h3 {
        font-size: 16px;
    }

    .beverages ul li {
        font-size: 16px;
    }

    .menuContainer h1 {
        font-size: 20px;
    }

    .menuContainer h2 {
        font-size: 18px;
    }

    img {
        width: 70%;
    }


    figcaption {
        font-size: 16px;
    }
}

@media screen and (max-width: 801px) {
    .wrapper li {
        font-size: 14px;
    }

    .wrapper li span {
        font-size: 14px;
    }

    .beverages h3 {
        font-size: 14px;
    }

    .beverages ul li {
        font-size: 14px;
    }

    .menuContainer h2 {
        font-size: 18px;
    }

    .menuContainer h2 {
        font-size: 16px;
    }

    img {
        width: 90%;
    }

    figcaption {
        font-size: 14px;
    }
}