.appetizers ul li p{
    background-color: white;
    float: right;
}


.mains ul li p{
    background-color: white;
    float: left;
}


.dessert ul li p{
    background-color: white;
    float: right;
}

.menuContainer ul{
    background-color: white;
    font-size: 1.1vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #75624B;
}

.menuContainer li{
    display: block;
    color: #9D4C3C;
    font-weight: bold;
}

.menuContainer p{
    font-size: 1.1vw;
    background-color: white;
}

.menuContainer h1{
    font-size: 1.8vw;
    color: #445659;
}

.beverages h3{
    font-size: 1.1vw;
    color: #9D4C3C;
    font-weight: bold;
} 

.beverages ul li{
    font-size: 1.1vw;
    color: #75624B;
    font-weight: normal;
} 