body{
  background-image: url(xxxxx);
  background-color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Arial,  Tahoma, sans-serif;
}

header{
  color: #445659;
  background-color: #ffffff;
  text-align: center;
}

ul{
  color: #75624B;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #445659;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  width: 100%;
}

li{
  float: left;
  font-size: 2vw;
  border-right: 0.12vw solid white;
  list-style: none;
}

li:last-child {
  border-right: none;
}


li a {
display: block;
color: white;
text-align: center;
padding: 1.7vw 1.9vw;
text-decoration: none;
}

li a:hover {
background-color: #9D4C3C;
font-size: 2.4vw;
transition: 0.4s;
}